@import 'css/reset';

// mixins
@mixin box_shadow ($level) {
    @if $level == 1 {
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    } @else if $level == 2 {
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    } @else if $level == 3 {
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    } @else if $level == 4 {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    } @else if $level == 5 {
        box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    }
}

// vars
$primary-color:   #EC2675;
$secundary-color: #510224;
$soft-bg-color:   #F4F5F0;
$soft-highlight-color: lighten($soft-bg-color, 25%);
$soft-highlight-primary-color: rgba(lighten($primary-color, 20%), 0.2);

$default-spacer: 12px;

//
body {
  background-color: $soft-bg-color;
}

a {
  font-weight: 600;
  padding: $default-spacer;
  color: $primary-color;
  text-decoration: none;
  &:hover {
    color: $secundary-color;
  }
}

.nav {
  @include box_shadow(3);
  margin: 0px;
  padding: $default-spacer;
  background: $secundary-color;

  display: flex;
  align-items: left;
  justify-content: left;
  list-style: none;

  a {
    color: #FFF;
    &:hover {
      color: rgba(lighten(#FFF, 2%), 0.2);
    }
  }

  .logo {
    background-image: url('https://www.jouwomgeving.nl/static/images/logo.svg?519337d8511a');
    text-indent: -9999px;
    width: 124px;
    height: 25px;
    margin-right: 25px;
  }
}

// Card
.card {
  background: $soft-highlight-color;
  border: 1px solid #EEE;
  padding: $default-spacer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

// question overview
.questions {
  display: flex;
  align-items: left;
  justify-content: center;
}

// list inside cards
.question {

  h2 {
    color: $primary-color;
    font-weight: 700;
  }

  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    flex-flow: row wrap;

    li {
      @include box_shadow(1);
      background-color: rgba(255,255,255,0.2);

      font-weight: 700;
      color: $secundary-color;

      cursor: pointer;
      margin:  $default-spacer;
      padding: $default-spacer;
      border: 1px solid $secundary-color;
      height: 150px;
      width:  150px;


      justify-content: flex-start;
      display: flex;
      align-items: center;
      flex-direction: column;


      &:hover {
        background: $soft-highlight-primary-color;
      }

    }
  }
}

.vote {
  font-size: 30px;
  font-weight: 300;
  color: $secundary-color;
  margin-top: auto;
  justify-content: flex-end;
}

@media(max-width: 500px) {
  .question {

    h2 {
      color: $primary-color;
      font-weight: 700;
      font-size: 18px;
    }

    ul {
      li {
        font-size: 12px;
        margin:  $default-spacer / 2;
        padding: $default-spacer / 2;
        height: 75px;
        width:  75px;
      }
    }
  }

  .vote {
    font-size: 20px;
  }
}
